table{
  height:300px;
  width:450;
  margin-top: 20px;
  box-sizing: border-box;
}
thead{
  background-color: black;
  color:white;
  text-align: center;
}
tbody{
  background-color:oldlace;
  text-align: center;

}
.success{
  color:green;
 
}
.error{
  color:red;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#box1{
  height:528px;
  width:500px;
  background:antiquewhite;
  font-size:15px;
  color:black;
  border-radius:20px;
 margin-left:300px;
 margin-top: 50px;
box-sizing: border-box;
  
  padding:30px;
  
 
}
.a{
  height:40px;
  width: 400px;
  border-radius:8px;
  margin-bottom:13px;
}
#btn1
{
  height: 40px;
  width:100px;
  border-radius: 10px;
  background-color: maroon;
  color:white;
  

}
.success{
  color:green;
 
}
.error{
  color:pink;
  
}



